@import "../../styles/mixins/flexbox";
@import "../../styles/variables";

.content {
  .games {
    .empty {
      width: 100%;
      height: 250px;
      border: 3px dashed #fff;
      position: relative;
      color: #fff;

      @include flexbox(column, center, center, nowrap);

      .helperIcon {
        width: 60px;
        height: 60px;
        position: absolute;
        top: -20px;
        right: 60px;
      }
    }

    &Items {
      min-height: 200px;
    }
  }
}

.actions {
  width: 100%;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  background-color: #fff;

  @include flexbox(row, flex-end, center, nowrap);

  .switch {
    @include flexbox(row, unset, center, nowrap);

    &Case {
      border: 1px solid black;
      padding: 5px;
      cursor: pointer;

      @include flexbox(row, unset, center, nowrap);

      &__icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;

        @include flexbox(column, center, center, nowrap);

        .line {
          width: 100%;
          border: 1px solid black;
          margin: 2px;
        }
      }

      &__label {
        margin-bottom: 0;
      }
    }

    &Case.active {
      background-color: $light-blue;
      color: #fff;
    }
  }
}

.tabs {
  width: 100%;
  padding-top: 30px;

  @include flexbox(row, unset, unset, nowrap);

  .navLink,
  .navLink:hover {
    color: #fff;
  }
}
