.nav {
  box-shadow: 0 5px 10px 0 #171d2540;
  background-color: #fefefed3;
  padding-left: 315px !important;

  .navLink {
    color: #000;
  }

  .navLink:focus,
  .navLink:hover {
    color: #000;
  }
}
