.modal-content {
  min-width: 660px;
  padding: 0 40px;

  label {
    padding: 0;
  }

  .currencyIcon {
    width: 20px;
    height: 20px;
    background: url("../../../../public/UAH.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
