@import "../../../styles/mixins/flexbox";

.players {
  .buttons {
    margin-bottom: 15px;

    @include flexbox(row, flex-end, center, nowrap);
  }

  .empty {
    width: 100%;
    height: 110px;
    border: 2px dashed darkgray;
    color: darkgray;
    font-style: italic;

    @include flexbox(row, center, center, nowrap);
  }

  .player {
    width: 100%;
    height: 70px;
    border: 1px solid #dddddd80;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 15px;
    position: relative;

    @include flexbox(row, unset, center, nowrap);

    h4 {
      margin-bottom: 0;
    }
  }

  .player:hover {
    background-color: #3a2f2f14;
    cursor: pointer;
  }

  .feedbackStatus {
    position: absolute;
    font-style: italic;
    color: gray;
    right: 15px;
  }
}
