@import "../src/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
}

.col-md-offset-2 {
  margin-left: 16.6667%;
}

body {
  background-color: $light-blue;
}

.row {
  margin-bottom: 10px;
}

.react-datepicker-popper {
  z-index: 1024;
}
